{% extends "base.html" %} 

{% block title %}
    Home
{% endblock %} 

{% block content %}

<h3 class="text-center">Posts</h3>

<div class="container">
        {% for post in user.posts  %}             
                <div class="alert alert-info" role="alert">
                    {{ post.data }}
                    <button type="button" class="btn btn-danger" onClick="deletePost({{ post.id }})"><span aria-hidden="true">&times;</span></button>
                </div>
        {% endfor %}
    <br />

    <form method="POST">
        <div class="mb-3">
            <textarea class="form-control" rows="3" id="post" name="post" placeholder="Enter Your Post Here" type="text" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Post</button>
    </form>
</div>

{% endblock %}